ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/*  \/ frequently used classes \/ ---------------------------------------- \/  */

.container {
  width: 1296px;
  margin-inline: auto;
}

.btn {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
}

.btn-green {
  color: #eee;
  background: #0f8277;
}

.section-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0f8277;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #000;
  margin: 0;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  margin: 0;
}

/*  \/ unique used classes \/ ---------------------------------------- \/  */
.main-wrapper {
  min-width: 1368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.header {
  margin-block: 30px;
}

.header-wrapper {
  display: flex;
  gap: 112px;
}

.header-left-wrapper {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header-left-logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000;
}

.left-nav-wrapper {
  position: relative;
}

.left-nav-wrapper:hover .left-nav-hideable {
  display: block;
}

.nav-btn-text::after {
  content: "";
  background-image: url("../images/icons/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
  padding: 8px 6px;
}

.left-nav-hideable {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding-block: 16px 0px;
  padding-inline: 12px;
}

.left-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 360px;
}

.left-nav-courses {
  border-bottom: 1px solid black;
}

.left-nav-list:first-child {
  margin-bottom: 40px;
}

.left-nav-item:not(:last-child) {
  margin-bottom: 16px;
}

.left-nav-title {
  margin-block: 0px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}

.left-nav-themes {
  margin-bottom: 33px;
}

.left-nav-theme,
.left-nav-course,
.left-nav-goal {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}

.header-left-form {
  display: flex;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  overflow: hidden;
}

.header-left-search {
  border: none;
  outline: none;
  background: transparent;
  padding-block: 8px;
  padding-inline: 12px 0px;
  min-width: 294px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #5c5c5c;
  border-radius: 0;
}

.header-search-btn {
  background-color: #0f8277;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-right-wrapper {
  display: flex;
  align-items: center;
  gap: 104px;
}

.nav-right-list {
  display: flex;
  gap: 48px;
}

.nav-right-course {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}

.header-auth-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-log-in {
  background: none;
  padding: 10px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  color: #0f8277;
}

.main-hero {
  display: flex;
  align-items: center;
  background-color: #dbf3ed;
  border-radius: 12px;
  margin-bottom: 80px;
}

.main-hero-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  margin-block: 170px 184px;
  padding-inline: 110px 94px;
}

.main-hero-title {
  margin: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #000;
}

.main-hero-text {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #000;
}

.main-hero-img {
  margin: 39px 54px 30px 0px;
}

.main-hero-links {
  padding-block: 10px;
}

.hero-link {
  margin-right: 24px;
}

.hero-link-more {
  color: #0f8277;
  background: none;
  border: 2px solid #0f8277;
}

.main-degree-section,
.main-courses-section {
  margin-bottom: 80px;
}

.section-institute-list,
.section-courses-list {
  display: flex;
  margin-top: 40px;
  gap: 24px;
}

.section-institute-item,
.section-courses-item {
  border: 1px solid #dadada;
  border-radius: 8px;
  overflow: hidden;
}

.institute-cart-school,
.courses-cart-school,
.cart-school-diploma {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 16px;
}

.institute-cart-school,
.courses-cart-school {
  margin-top: 24px;
}

.cart-school-name,
.cart-course-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  margin: 0;
}

.cart-school-title,
.cart-course-title {
  min-height: 58px;
  margin-block: 16px 0px;
  padding-left: 16px;
  max-width: 386px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #000;
}

.cart-course-title {
  max-width: 282px;
}

.cart-school-diploma {
  margin-block: 48px 24px;
}

.cart-diploma-title,
.courses-bottom-title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #0f8277;
}

.courses-bottom-title {
  padding-left: 16px;
  margin-block: 48px 24px;
}

.section-bottom-link {
  display: flex;
  justify-content: center;
}

.bottom-link {
  display: flex;
  margin-top: 44px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0f8277;
}

.bottom-link::after {
  content: "";
  background: url("../images/icons/icon-arrow-right.svg") no-repeat center;
  align-self: center;
  margin-left: 16px;
  width: 20px;
  height: 20px;
}

.main-topics-section {
  margin-bottom: 80px;
}

.topics-nav-wrapper {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.topics-nav {
  min-width: 306px;
}

.topics-nav-title {
  margin-block: 0px 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #000;
}

.topics-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.topics-nav-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0f8277;
  margin-block: 0px 10px;
}

.topics-nav-students {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  margin: 0;
}

.main-cooperate-section {
  background-color: #dbf3ed;
  width: 1368px;
  margin-bottom: 80px;
  overflow: hidden;
}

.main-cooperate-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-cooperate-title {
  margin-block: 80px 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #000;
}

.cooperate-list-wrapper {
  overflow: hidden;
  width: 100%;
}

.main-cooperate-list {
  display: flex;
  align-items: center;
  gap: 36px;
  padding-bottom: 80px;
  width: max-content;
  animation: scroll-logos 18s linear infinite;
}

.main-cooperate-item {
  flex: 0 0 auto;
}

@keyframes scroll-logos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.main-business-section {
  display: flex;
  gap: 72px;
  margin-bottom: 70px;
}

.main-business-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding-block: 67px;
  max-width: 636px;
}

.main-business-text {
  max-width: 568px;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #000;
}

.main-business-link {
  align-self: start;
}

.business-images-wrapper {
  background-color: #bababa;
  display: inline-block;
  width: fit-content;
  max-height: 412px;
}

.business-images-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  background-color: transparent;
}

.business-images-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-width: 196px;
  min-height: 136px;
  background-color: #fff;
}

.main-subscription-section {
  background-color: #dbf3ed;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

.main-subscription-title {
  padding-block: 80px 40px;
  text-align: center;
}

.main-subscription-list {
  display: flex;
  gap: 24px;
}

.subscription-list-item {
  display: flex;
  flex-direction: column;
  padding: 56px;
  background-color: #fdfdfd;
  border: 1px solid #0f8277;
  border-radius: 24px;
  max-width: 416px;
}

.subscription-item-accent {
  background-color: #0f8277;
}

.subscription-list-item:nth-child(1) .subscription-duration {
  margin-bottom: 75px;
}
.subscription-list-item:nth-child(2) .subscription-duration {
  margin-bottom: 27px;
}
.subscription-list-item:nth-child(3) .subscription-duration {
  margin-bottom: 46px;
}

.subscription-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #000;
  margin: 0 0 27px;
}

.subscription-title-accent {
  color: #ffffff;
}

.subscription-item-subtitle {
  margin: 0 0 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #000;
  text-align: center;
}

.subscription-subtitle-accent {
  color: #ffffff;
}

.subscription-duration {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.subscription-duration-price {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #000;
}

.subscription-duration-time {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000;
}

.subscription-duration-accent {
  color: #ffffff;
}

.subscription-item-link {
  border-radius: 4px;
  border: 2px solid #fff;
}

.subscription-separator {
  border-top: 2px solid #0f8277;
  margin-block: 48px;
}

.subscription-separator-accent {
  border-top: 2px solid #ffffff;
}

.subscription-item-link {
  align-self: center;
}

.subscription-advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.subscription-advantages-item {
  display: flex;
  align-items: flex-start;
}

.subscription-advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  margin: 0;
  max-width: 264px;
}

.subscription-advantages-accent {
  color: #ffffff;
}

.subscription-advantages-icon,
.advantages-icon-accent {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.subscription-advantages-icon {
  background: url("../images/icons/check.svg");
}

.advantages-icon-accent {
  background: url("../images/icons/check-accent.svg");
}

.main-photos-section {
  margin-bottom: 76px;
}

.main-photos-title {
  text-align: center;
  margin-bottom: 40px;
}

.main-photos-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.photos-item-big {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.main-appeal-section {
  background: url("../images/backgrounds/background-form.jpg") no-repeat center;
  min-height: 727px;
  display: flex;
  align-items: center;
  position: relative;
}

.main-appeal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  pointer-events: none;
}

.main-appeal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;

  max-width: 565px;
  margin-inline: auto;
  background-color: #dbf3ed;
  border-radius: 24px;
  gap: 24px;
}

.appeal-form-list {
  display: grid;
  gap: 24px;
}

.appeal-form-item {
  display: grid;
  gap: 8px;
}

.main-appeal-title {
  text-align: center;
  padding-block: 30px 0px;
}

.main-appeal-subtitle {
  max-width: 505px;
  text-align: center;
  margin-inline: auto;
}

.appeal-form-list {
  padding-inline: 30px;
}

.appeal-form-label {
  font-weight: 600;
  font-size: 22px;
  line-height: 109%;
  color: #000;
}

.appeal-form-input,
.appeal-form-textarea {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8e8e8e;

  border: 1px solid #0f8277;
  border-radius: 4px;
  padding: 12px;
}

.main-appeal-btn {
  align-self: self-start;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-inline: 77px;
}

.footer {
  min-width: 1368px;
  background-color: #f1f1f1;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 64px 36px;
}

.footer-logo-info {
  max-width: 306px;
}

.footer-logo-link {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000;
  margin-bottom: 16px;
}

.footer-logo-text,
.footer-socials-rights {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}

.footer-socials-list {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-bottom: 60px;
}
